# Debug files

*.bin
*.elf
*.list
*.map
*.mk
*.d
*.o
*.su
*.crf
*.Inp
*.axf
*.htm
*.hex
*.cproject
*.project
*.old

# Eclipse paths
**/.metadata/
**/.settings/
**/.jxbrowser.userdata/
**/.launches/

**/RemoteSystemsTempFiles/
**/dvt/
**/build/

**/.settings/
**/build/
**/main/
